@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;
@use "./partials/_appMap.scss";
@use "./partials/_footer.scss";

body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}

.bg_item {
    background-color: $dark ;
    color: $light;
}


.bg_item {
    background-color: $dark ;
    color: $light;
}

.title {
    font-weight: 500;
    color: $shadow_stack;
}

.container p a {
    color: $shadow_stack;
}

.bg_btn {
    border: 3px solid $shadow_stack;
    color:$shadow_stack;
    border-radius: 30px;
    background-color: $bg_body;
    transition: transform 0.1s ease;
    font-weight: bold;
}

.bg_btn:hover {
    transform: scale(1.1);
    background-color: #00ff62;
    color: $bg_body;
    border: 3px solid $bg_body;
    font-weight: bold;
}


