@use './../../../node_modules/bootstrap/scss/bootstrap.scss';

@use "./partials/_variables.scss" as *;
@use "./partials/_appMap.scss";

body {
    background-color: $bg_body;
    color: $light;
    font-family: 'Nunito', sans-serif;
}


.bg_item {
    background-color: $dark ;
    color: $light;
}

.title {
    font-weight: 500;
    color: $info;
}

.container p a {
    color: $info;
}


